body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

button {
    padding: 30px 46px;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 0 rgb(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: grey;
    padding: 100px 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.2);
}

div h2 {
    position: relative;
}

div h2 span {
    position: absolute;
    bottom: -30px;
    right: 0px;
}
